{
    margin-top: 0;
    padding: 0;
}
.header{
    background-color: rgb(164, 82, 65);
    padding: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.logoheader
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}
.logo{
    height: 60px;
    width: 80px;
  border-radius: 50px;
  padding: 10px;
}
.font
{
    font-family: fantasy;
    letter-spacing: 2.5px;
    color: whitesmoke;
    font-size: 40px;
 
    
}
.subfont
{
    color:whitesmoke;
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    font-family: fantasy;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-display: bold;
    cursor: pointer;
}
.subfont.h1{
    cursor: pointer;

}
.h1:hover
{
    color: burlywood;
}

.background
{

height: 500px;
width: 165vh;
background-image: url('IMAGE/background image.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
text-align: center;
padding: 150px;
color: aliceblue;
font-size: 40px;

}
.main text p
{
    font-size: 20px;
}
.mainshopbutton
{
    width: 200px;
    height: 36px;
    font-weight: bold;
    font-size: 15px;
    background: burlywood;
    color:white;
    letter-spacing: 1px;
    border: 2px solid burlywood;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.mainshopbutton:hover
{
    background-color:rgb(229, 196, 196) ;
    color: white;
}
.center-text h1
{
   color: black;
   text-align: center;
   text-transform: capitalize;
   font-size: 28px;
}
.center-text span
{
    color: #EE1C47;
}
.product
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
    gap: 2rem;
}
.row
{
    position: relative;
    transition: all .40s;

}
.row img
{
    width: 100%;
    height: auto;
    transition: all.40s;

}
.row img:hover
{
    transform: scale(0.9);
}
.product-text 
{
    position: absolute;
    top: 18px;
    left: 220px;
    color: white;
    font-size: 5px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: green;
    padding: 3px 10px;
    border-radius: 4px;
}
.product1
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
    gap: 2rem;
}
.row1
{
    position: relative;
    transition: all .40s;
}
.row1 img
{
    padding-left: 40px;
    width: 650px;
    height: 650px;
    transition: all.40s;
}
.product-text1
{
    position: absolute;
    bottom: 60px;
    left: 70px;
    color: white;
    font-size: 25px;
    
    text-transform:capitalize;
    padding: 3px 10px;
    border-radius: 4px;
}
.font1
{
    font-family: fantasy;
    letter-spacing: 2.5px;
    color:wheat;
    font-size: 40px;
}
.product2
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
    gap: 2rem;
}
.row2
{
    position: relative;
    transition: all .40s;
}
.row2 img
{
    width:100%;
    height: 550px;
    transition: all.40s;
}
.contactinformation
{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: whitesmoke;
    font-size: 15px;
    
    text-transform:capitalize;
    padding: 3px 10px;
    border-radius: 4px;
}
.contactinformation h3
{
    color:blanchedalmond;
}

    